@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-size: 16px;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.container {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
}

.left {
    width: 60%;
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: cover;
    background-position: left center;
    padding: 0 40px 40px;

    .inside-content {
        max-width: 445px;
        margin: 0 auto;
    }

    img.logo {
        margin: 50px 0 50px 0;
    }

    .hero-mobile {
        display: none;
    }

    h1 {
        text-transform: uppercase;
        font-size: 60px;
        color: $dark-grayish-red;
        letter-spacing: 15px;
        line-height: 1.1;
        margin: 0px;
        margin-top: 60px;

        .title-we-are {
            font-weight: 300;
            color: $desaturated-red;
        }
    }

    p {
        color: $desaturated-red;
        line-height: 1.7;
        margin: 20px 0 40px 0;
    }

    form {
        position: relative;
    }

    input {
        width: 100%;
        height: 56px;
        font-size: 16px;
        border: 1px solid $desaturated-red;
        border-radius: 50px;
        box-shadow: none;
        background-color: transparent;
        padding: 15px 30px;
        font-family: 'Josefin Sans', sans-serif;
    }

    form.error input {
        border: 1px solid $soft-red;
    }

    form.success input {
        border: 1px solid $desaturated-red;
    }

    input::placeholder {
        color: $desaturated-red;
    }

    input:focus,
    input:active {
        outline: none;
        box-shadow: 0px 0px 10px hsla(0, 36%, 70%, 0.5);
        background: transparent;
    }

    button {
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        border-radius: 50px;
        border: none;
        padding: 15px;
        width: 100px;
        height: 56px;
        position: absolute;
        right: 0;
        top: 0;
        box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
        cursor: pointer;
    }

    button:hover {
        background-image: none;
        background-color: hsl(0, 80%, 86%);
    }

    .error-icon {
        position: absolute;
        right: 120px;
        top: 14px;
        display: none;
    }

    form.error .error-icon {
        display: block;
    }

    span.error {
        display: block;
        margin-left: 30px;
        margin-top: 15px;
        color: $soft-red;
        display: none;
    }

    form.error span.error {
        display: block;
    }

    span.success {
        display: block;
        margin-left: 30px;
        margin-top: 15px;
        color: $desaturated-red;
        display: none;
    }

    form.success span.success {
        display: block;
    }

}

.right {
    width: 40%;
}

.image {
    background-image: url('images/hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 675px) {
    .left h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 525px) {
    .left {
        .hero-mobile {
            display: block;
            width: 100%;
            margin: 0 -40px 0 -40px;
            width: calc(100% + 80px);
        }

        .hero-medium {
            display: block;
            width: 100%;
            margin: 0 -40px 0 -40px;
            width: calc(100% + 80px);
        }

        h1 {
            font-size: 40px;
        }
    }


    .left,
    .right {
        width: 100%;
    }

    .image {
        display: none;
    }

    h1,
    p {
        text-align: center;
    }
}